{% extends 'appmainBundle::base.html.twig' %}
{% block title %}FoldMenu -- Home Made For Share {% endblock %}
{% block tuid %}{% endblock %}
{% block body %}
		<div class="panel panel-default" id="ingredients">
	  		<div class="panel-heading">
	  			<table border="0" cellspacing="0" cellpadding="0"><tr>
	  				<td>{% image '@appmainBundle/Resources/public/images/logoWeb.png' %}
	  				<img src="{{ asset_url }}" class="logoSmall"/>{% endimage %}</td>
	  				<td>{% image '@appmainBundle/Resources/public/images/icons/igd.png' %}
	  				<img src="{{ asset_url }}" class="igd-on"/>{% endimage %}</td>
	  				<td style="padding: 15px"><strong>Ingredients</strong></td>
	  			</tr></table>
	  		</div>
	  		<div>
	    		{% include 'appmainBundle:Default:addIngredients.html.twig' %}
	  		</div>
		</div>
{% endblock %}
